<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h2>All Products</h2>
      <p>Welcome {{username}}! What are you looking for today?</p>
  <ul>
    {{#each payloadArrayMap}}
      <li>
        Product: {{title}} - Description: {{description}} - Price: ${{price}} - 
        <button data-product-id={{_id}}>Add to Cart</button> 
        <button data-product-id={{_id}}>Product Details</button>
      </li>
    {{/each}}
  </ul>
 <button><a href="http://localhost:8080/api/views/logout">LOG OUT</a></button>
  

</body>
</html>